.navbar {
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%, transparent);
    z-index: 1;
    transition: background-color 0.3s ease;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  
  .navbar-left img {
    width: 90px;
    height: 20px;
  }
  
  .navbar-left ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .navbar-left ul li {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .navbar-left ul li:hover {
    color: #fff;
  }
  
  /* Burger Menu Styles */
  .burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }
  
  .burger-line {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 5px;
  }
  
  .navbar-right {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .navbar-right .icons {
    width: 20px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .navbar-right .profile {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .navbar-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  }
  
  .navbar-profile:hover .dropdown {
    display: block;
  }
  
  .navbar .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    border-radius: 4px;
    text-decoration: none;
    z-index: 1;
    display: none;
  }
  
  .navbar .dropdown p {
    font-size: 13px;
    cursor: pointer;
    color: #e5e5e5;
    transition: color 0.3s ease;
  }
  
  .navbar .dropdown p:hover {
    color: #ff4d4d;
  }
  
  .nav-dark {
    background: #141414;
  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {
    .navbar-left ul {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background: #141414;
      flex-direction: column;
      gap: 15px;
      padding: 10px;
      text-align: center;
    }
  
    .navbar-left ul.active {
      display: flex;
    }
  
    /* Move navbar-right below the logo */
    .navbar-right {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      padding: 20px 0;
      margin-top: 20px; /* Adds space between the logo and right section */
    }
  
    .navbar-right.active {
      display: flex;
    }
  
    .burger-menu {
      display: flex;
    }
  }
  